[Unit]
Description=Auto Update Timer For Universal Blue
Wants=network-online.target

[Timer]
OnBootSec=10m
OnUnitActiveSec=4h
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
